.div { 
    position: relative;
    width: 1980px;
    height: 3704px;
    background: linear-gradient(180deg, #010101 -15.71%, #1A0E01 99.57%);
}

.h1 {
    position: absolute;
    width: 425px;
    height: 162px;
    top: 277px;
    left: 70px;
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 180.5%;
}

.p {
    position: absolute;
    width: 414px;
    height: 95px;
    top: 464px;
    left: 70px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
}

.img {
    position: absolute;
    width: 739px;
    height: 656px;
    top: 182px;
    left: 550px;
}